body{ background-color: azure;
font-family: Verdana, Geneva, Tahoma, sans-serif; }
header, footer {
  background-color:rgb(1, 54, 1);
  color: white;
   text-align: center;
    border-radius: 5px
}

h1{
    color: brown;
    text-align: center;
}
h3{
    color: darkgreen;
    text-align: left;
}


.links{ display: flex;
   justify-content: center;          
 list-style: none;
                 }
.links li{
   background-color:cadetblue ;
    margin: 10px 20px;
    border-radius: 5px;
   
}
.links li a{
    padding: 20px;
    color: rgb(1, 54, 1);
    text-decoration: none;

}
a:hover{
    color: brown;
}
div{

    text-align: center;
    border: 20;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: cadetblue;
   width: fit-content; 
   margin: 40px ;
}
li{
    padding: 10px;
}
address{
    text-align: center;
    padding: 20px;
    background-color: black;
    background-color: bisque;
   width: fit-content; 
     margin: 40px ;
      border-radius: 10px;
} 
address a{
    text-decoration: none;
    color:gray;
}

code{
    color: white;
}
