
  body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 28px;
    text-align: center;
    font-family: Arial;
     transition: background-color 2s ease-in-out 0.7s;
    
  }

  @media (orientation: portrait) {
    body {
      background-color: purple;
      color: white;
    }
    .pot{
      display: none;
    }

   
  }

 
  @media (orientation: landscape) {
    body {
      background-color: green;
      color: white;
    }
    
       .land{
      display: none;
    }
  }